:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #667085;
    --texto-preto: #101828;
    --brown: #8E2424;
    --fonte-padrao: 'Inter';
}

.footer__container {
    background-color: rgba(249, 250, 251, 1);
    text-align: center;
    padding: 96px 0;
}

.footer__container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--texto-preto);
}

.footer__texto {
    margin-bottom: 40px;
    font-size: 20px;
}

.footer__container input{
    width: 360px;
    height: 48px;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
}

.footer__container input[type='email']{
    font-size: 16px;
    padding: 0 12px;
}

.footer__container button{
    width: 116px;
    height: 48px;
    border-radius: 8px;
    background-color: #8E2424;
    color: var(--branco-principal);
    border: none;
    margin-left: 16px;
}

.footer__direitos {
    margin-top: 32px;
    font-size: 16px;
}